@font-face {
  font-family: "vazie";
  src: url("../fonts/vazir.eot");
  src: url("../fonts/vazir.ttf") format("truetype"),
    url("../fonts/vazir.woff2") format("woff2"),
    url("../fonts/vazir.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "vazir";
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  width: 100%;
  height: 100%;
  position: relative;
}

section video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .navigation {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 50px;
  left: 50%;
  list-style: none;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

section .navigation li {
  width: 210px;
  height: 130px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

section .navigation li img {
  width: 200px;
  height: 120px;
  opacity: 0.8;
}

section .navigation li img:hover {
  opacity: 1;
}
